<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        $('.alert').alert()
      })
    </script>

    <title>Document</title>
</head>

<body>

    <script>
        $(document).ready(function () {

            var MaxInputs = 20; //maximum input boxes allowed
            var InputsWrapper = $("#InputsWrapper"); //Input boxes wrapper ID
            var AddButton = $("#AddMoreFileBox"); //Add button ID

            var x = InputsWrapper.length; //initlal text box count
            var FieldCount = 1; //to keep track of text box added

            $(AddButton).click(function (e)  //on add input button click
            {
                if (x <= MaxInputs) //max input box allowed
                {
                    FieldCount++; //text box added increment
                    //add input box
                    $(InputsWrapper).append('<div class="row"><div class="form-group col-sm"><br><input type="text" class="form-control" name="itemno[]" id="itemno" required placeholder="Enter Item Id"></div><div class="form-group col-sm"><br><input type="text" class="form-control" name="platetype[]" id="platetype" required placeholder="Enter Plate type (half/full)"></div><div class="form-group col-sm"><br><input type="text" class="form-control" name="quantity[]" id="quantity" required placeholder="Enter Quantity"></div><div class="form-group col-sm"><br><button type="button" class="btn btn-danger" onclick="return this.parentNode.parentNode.remove();" class="remove">Cancel Item</button></div></div>');

                }
                return false;
            });


        });
    </script>

{%if request.args.get('message')!=None %}
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <strong>{{request.args.get('message')}}</strong> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/register">Register</a>
                <a class="nav-item nav-link" href="/login">Login</a>
                <a class="nav-item nav-link" href="/show_menu">Show Menu</a>
                <a class="nav-item nav-link" href="/insert_order">Place Order</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>

            </div>
        </div>
    </nav>


    <div class="container">
        <form action="" method="POST">

            <br><br>
            <div id="InputsWrapper">

                <button type="button" name="add" id="AddMoreFileBox" class="btn btn-sm btn-success mx-1 mx-y1">Want to
                    order more items, Click here</button>
                <br>
            </div>

            <br>
            <div class="row">

                <div class="form-group col-sm">

                    <input type="text" class="form-control" name="itemno[]" id="itemno" required
                        placeholder="Enter Item Id">

                </div>

                <div class="form-group col-sm">

                    <input type="text" class="form-control" name="platetype[]" id="platetype" required
                        placeholder="Enter Plate type (half/full)">

                </div>

                <div class="form-group col-sm">

                    <input type="text" class="form-control" name="quantity[]" id="quantity" required
                        placeholder="Enter Quantity">

                </div>

                <div class="form-group col-sm"></div>

            </div>

            <div class="row">
                <div class="form-group col-sm">
                    <input name="tip" class="form-control" type="number" placeholder="Tip in percentage(0-100)" min="0"
                        max="100">
                </div>
                <div class="form-group col-sm">
                    <input name="people" class="form-control" type="number" placeholder="Number of people to split bill"
                        min="1">
                </div>
                <div class="form-group col-sm"> </div>
                <div class="form-group col-sm"></div>

            </div>


            <div class="row">
                <div class="input_field radio_option form-group col-sm">
                    <p>In our restaurant, we have a luck based discount game whose rules are as follows : </p>
                    <ul>
                        <li>There is a 5% chance to get a 50% discount off the total bill</li>
                        <li>10% chance to get 25% discount</li>
                        <li>15% chance to get 10% discount</li>
                        <li>20% chance to get no discount</li>
                        <li>50% chance that the total amount increases by 20%</li>
                    </ul>
                    <p> Do you want to play luck based discount game? </p>
                    <input type="radio" name="play_luck_game" value="no" id="rd1" checked>
                    <label for="rd1">No</label>
                    <input type="radio" name="play_luck_game" value="yes" id="rd2">
                    <label for="rd2">Yes</label>
                </div>
            </div>


            <button type="submit" class="btn btn-outline-dark btn-sm mx-1">Submit</button>
        </form>
    </div>
</body>

</html>